.detail {
    background: url("../../../public/images/background_works.JPG") no-repeat center;
    height: 86.6vh;
    /* width: 100%; */
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.detail > div {
    /* margin: 4% 0px 0px 0px; */
    padding-top: 10%;
    height: 60vh;
}