.detail {
    height: 86.6vh;
    background: url("../../../public/images/banner.png") no-repeat center;
    /* width: 100%; */
    background-size: 109%;
    display: flex;
  }

.skin {
    width: 280px;
    height: 240px;
    cursor: move;
    position: absolute;
    user-select: none;
    /* border: 1px solid black; */
}

.skinKellogg {
    background: url("../../../public/images/skins/intro_kellogg.PNG") no-repeat center;
    background-size: contain;
    top: 30%;
    left: 60%;
}

.skinRubok {
    background: url("../../../public/images/skins/intro_rubok.PNG") no-repeat center;
    background-size: contain;
    top: 40%;
    left: 30%;
}

.skinDavid {
    background: url("../../../public/images/skins/intro_david.PNG") no-repeat center;
    background-size: contain;
    top: 60%;
    left: 65%;
}

.skinLeo {
    background: url("../../../public/images/skins/intro_leo.PNG") no-repeat center;
    background-size: cover;
    top: 60%;
    left: 10%;
}
/* .description {
    white-space: pre-wrap;
  } */
  
  .box {
    position: absolute;
    cursor: move;
    color: black;
    width: 100px;
    border-radius: 5px;
    padding: 1em;
    margin: auto;
    background: lightgrey;
  }