.detail {
    height: 86.6vh;
    background: url("../../../public/images/background_mos.png") no-repeat center;
    /* width: 100%; */
    background-size: 140%;
    display: flex;
  }

.skin {
    width: 100px;
    height: 180px;
    border: 1px solid black;
}

.skinKellogg {
    background: url("../../../public/images/skins/kellogg.png") no-repeat center;
    background-size: cover;
}

/* .description {
    white-space: pre-wrap;
  } */
  