.detail {
    background-color: white;
    margin-top: 13.3vh; 
    /* height: 100%; */
    border: solid #CCD669 50px;
    font-family: 'Assistant', sans-serif;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* vertical-align: middle; */
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
}

.aboutMore {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.aboutMore > div {
    width: 40%;
    height: 100px;
    line-height: 100px;
    /* border: 3px solid black; */
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    padding: 20px;
    text-decoration: underline;
    text-underline-position: under;
}

.aboutMore > div:hover {
    cursor: pointer;
    transition: 0.5s;
}

.aboutMore > :nth-child(1):hover {
    background: url("../../../public/images/wereNoMsg.png") no-repeat 10%;
    background-size: cover;
    text-decoration: none;
}

.aboutMore > :nth-child(2):hover {
    background: url("../../../public/images/background_mos.png") no-repeat 10%;
    background-size: cover;
    text-decoration: none;   
}

.title {
    margin: 80px 0 40px 0;
    font-weight: 800;
    font-size: 42px;
}

.subTitle {
    margin: 40px 0 20px 3%;
    font-weight: 800;
    font-size: 32px;
}

.subContent {
    margin: 0 0 20px 5%;
    font-weight: 400;
    font-size: 24px;
}

.subTechStack {
    margin: 40px 0;
}

.subTitleStack {
    width: 120px;
    height: 40px;
    text-decoration: underline;
    text-underline-position: under;
}

.content {  
    font-weight: 400;
    font-size: 28px;
}

.iconContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.platformIcons {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.platformIcons > div {
    width: 100px;
    height: 100px;
}

.icons {
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.icons > div {
    width: 100px;
    height: 100px;
}

.icon {
    margin-right: 10vh;
}

.iconSlack {
    background: url("../../../public/images/platforms/slack.png") no-repeat center;
    background-size: contain;
}

.iconGithub {
    background: url("../../../public/images/platforms/github-sign.png") no-repeat center;
    background-size: contain;
}

.iconConfluence {
    background: url("../../../public/images/platforms/confluence.png") no-repeat center;
    background-size: contain;
}

.iconJira {
    background: url("../../../public/images/platforms/jira.png") no-repeat center;
    background-size: contain;
}

.iconDocker {
    background: url("../../../public/images/platforms/docker.png") no-repeat center;
    background-size: contain;
}

.iconHtml {
    background: url("../../../public/images/platforms/html-5.png") no-repeat center;
    background-size: contain;   
}

.iconCss {
    background: url("../../../public/images/platforms/css-3.png") no-repeat center;
    background-size: contain;   
}

.iconJs {
    background: url("../../../public/images/platforms/js.png") no-repeat center;
    background-size: contain;   
}

.iconReact {
    background: url("../../../public/images/platforms/react.png") no-repeat center;
    background-size: contain;   
}

.iconJava {
    background: url("../../../public/images/platforms/java.png") no-repeat center;
    background-size: contain;   
}

.iconPython {
    background: url("../../../public/images/platforms/python.png") no-repeat center;
    background-size: contain;   
}

.iconKafka {
    background: url("../../../public/images/platforms/kafka.png") no-repeat center;
    background-size: contain;   
}

.iconAirflow {
    background: url("../../../public/images/platforms/airflow.png") no-repeat center;
    background-size: contain;   
}

.iconKeycloak {
    background: url("../../../public/images/platforms/keycloak.png") no-repeat center;
    background-size: contain;   
}
