@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@800&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    font-family: 'Assistant', sans-serif;
    align-items: center;
    height: 10vh;
    padding: 0.8em 1em;
    background: black;
    color: white;    
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 1em;
    z-index: 0;
}

.logo:hover {
    cursor: pointer;
}

.img {
    margin-top: 6em;
    width: 12em;
}

.nav {
    width: 500px;
    margin-right: 3%;
    display: flex;
    justify-content: space-between;
}

.menu {
    text-decoration: none;
    color: white;
    font-size: 40px;
}

/* Tablet */

.taImg {
    width: 50px;
    border: 3px solid white;
    border-radius: 50%;
}

.taNav {
    width: 350px;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
}

.taMenu {
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-left: 10%;
}

/* Mobile */

.moImg {
    width: 20px;
    border: 3px solid white;
    border-radius: 50%;
}

.moNav {
    width: 250px;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
}

.moMenu {
    text-decoration: none;
    color: white;
    font-size: 24px;
    margin-left: 15%;
}
