@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@800&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    font-family: 'Assistant', sans-serif;
    align-items: center;
    height: 5rem;
    padding: 0.8em 1em;
    background: black;
    color: white;    
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.img {
    margin-top: 6em;
    width: 12em;
}

.input {
    flex-basis: 100%;
    font-size: 1.2rem;
    outline: 0;
}

.button {
    background: darkgrey;
    outline: 0;
}

.buttonImg {
    padding: 0.5em 0.2em;
    height: 100%;
}

.nav {
    width: 40%;
    margin-right: 3%;
    display: flex;
    justify-content: space-between;
}

.menu {
    text-align: center;
    font-size: 45px;
}
