/* .detail {
    background: url("../../../public/images/banner.png") no-repeat center;
    height: 86.2vh;
    background-size: contain;
  } */

.frame {
    margin-left: 10%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 30px solid rgba(0, 0, 0, 0.219);
}

.frame:hover {
    cursor: pointer;
}

.pcria {
    background: url("../../../public/images/portfolios/pcria_banner.png") no-repeat center;
    background-size: cover;
}

.findyourperfume {
    background: url("../../../public/images/portfolios/findyourperfume_banner.png") no-repeat center;
    background-size: cover;
}

.youtube {
    background: url("../../../public/images/portfolios/youtube_banner.png") no-repeat center;
    background-size: cover;
}

.cardmaker {
    background: url("../../../public/images/portfolios/cardmaker_banner.png") no-repeat center;
    background-size: cover;
}

.prometheus {
    background: url("../../../public/images/portfolios/prometheus_banner.png") no-repeat center;
    background-size: cover;
}

.grafana {
    background: url("../../../public/images/portfolios/grafana_banner.png") no-repeat center;
    background-size: cover;
}

.airflow {
    background: url("../../../public/images/portfolios/airflow_banner.png") no-repeat center;
    background-size: cover;
}