@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.detail {
    background: url("../../../public/images/bg.png") no-repeat center;
    height: 86.6vh;
    /* width: 100%; */
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mosMessage {
    width: 60vh;
    height: 45vh;
    background: url("../../../public/images/were.png") no-repeat center;
    background-size: contain;
    position: absolute;
    top: 40%;
    left: 10%;
}

.form {
    /* margin: 10%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}

.contact {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 550px;
    height: 530px;
    border: 3px solid black;
    border-radius: 1.5%;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
}

.contactTitle {
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    line-height: 50px;
    height: 50px;
    font-weight: bold;
    padding: 3% 0;
    
}

.inputContainer {
    background-color: #26313D;
    width: 500px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submitContainer {
    background-color: black;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit {
    width: 450px;
    height: 70px;
    line-height: 70px;
    font-weight: bold;
    text-align: center;
    background-color: #C2C2C1;
}

.submit:hover {
    cursor: pointer;
    background-color: #d3d3d3;
    transition: 0.3s;
}

.namePhoneContainer {
    width: 467px;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.namePhoneContainer > div {
    width: 230px;
    display: flex;
    justify-content: space-between;
}

.namePhoneContainer > div:first-child {
    margin-right: 20px;
}

.label {
    display: inline-block;
    color: white;
    width: 30px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
}

.input {
    background-color: #656566;
    color: white;
    width: 120px;
    height: 24px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

.inputEmail {
    width: 364px;
    font-family: 'Press Start 2P', cursive;
}

.emailContainer {
    width: 467px;
    display: flex;
    justify-content: space-between;
}

.textareaContainer {
    width: 467px;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}

.textarea {
    width: 444px;
    height: 150px;
    margin-top: 10px;
    padding: 10px;
    color: white;
    background-color: #656566;
    box-shadow: 0.2px 0.2px 0.2px 0.2px darkgray;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

/* Tablet */

.taContact {
    width: 550px;
    height: 530px;
    border: 3px solid black;
    border-radius: 1.5%;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
}

/* Mobile */ 

.moContact {
    position: absolute;
    top: 20%;
    /* right: 10%; */
    width: 240px;
    height: 480px;
    border: 3px solid black;
    border-radius: 1.5%;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
}

.moContactTitle {
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    line-height: 28px;
    height: 28px;
    font-weight: bold;
    padding: 3% 0;
}

.moInputContainer {
    background-color: #26313D;
    width: 220px;
    height: 374px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moSubmitContainer {
    background-color: black;
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moSubmit {
    width: 200px;
    height: 30px;
    font-size: 10px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    background-color: #C2C2C1;
}

.moSubmit:hover {
    cursor: pointer;
    background-color: #d3d3d3;
    transition: 0.3s;
}

.moNamePhoneContainer {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.moNamePhoneContainer > div {
    width: 230px;
    display: flex;
    flex-direction: column;
}

.moLabel {
    display: inline-block;
    color: white;
    width: 50px;
    height: 24px;
    font-size: 10px;
    line-height: 24px;
}

.moInput {
    background-color: #656566;
    color: white;
    width: 190px;
    height: 24px;
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
}

.moInputEmail {
    width: 190px;
    font-family: 'Press Start 2P', cursive;
}

.moEmailContainer {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.moTextareaContainer {
    width: 200px;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}

.moTextarea {
    width: 175px;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    color: white;
    background-color: #656566;
    box-shadow: 0.2px 0.2px 0.2px 0.2px darkgray;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}